* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sign {
  background-color: #f3f3f3;
  box-shadow: 0.4em 0.4em 0.6em rgba(0, 0, 0, 0.2);
  border-right: 2px solid #a09e9e;
}
.sign input {
  border-top: 2px solid #a09e9e;
  border-left: 2px solid #a09e9e;
}
.sign input:focus {
  border: none;
  box-shadow: none;
}
.sign button {
  color: white;
  background-color: #cd5c5c !important;
  border-right: 2px solid #a09e9e;
  border-bottom: 2px solid #a09e9e;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.sign button:focus {
  color: white !important;
  border-left: 2px solid #a09e9e;
  border-top: 2px solid #a09e9e;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.sign h2 {
  color: #cd5c5c;
}
input[type="date"] {
  color: #cd5c5c;
}
